*{
    margin: 0;
    padding: 0;
}

.conteudo-1{
    display: flex;
    justify-content: space-between;
}

.conteudo-2{
    display: flex;
    justify-content: space-between;
    background-color: rgb(57, 71, 175);
}

.conteudo-3{
    display: flex;
    justify-content: center;
    margin: 0;
}

.navbar {
    background-color: #fff;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar a {
    color: #000;
    margin-right: 45px;
    margin-top: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1px;
}
.navbar a:hover {
   transform: scale(0.9);
   transition: all 0.2s ease-in-out;
}

.alinhar-img {
    display: flex;
    justify-content: flex-end;
}

.imagem {
    width: 250px;
    margin-right: 150px;
    margin-top: 150px;
}

.apresentacao h1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
    font-family: Poppins;
    margin-top: 150px;
}

.apresentacao h2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
    font-family: Poppins;
    margin-top: 20px;
}

.apresentacao p {
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
    font-family: Poppins;
    width: 680px;
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 100px;
}

.apresentacao button {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    font-family: Poppins;
    margin-top: 20px;
    text-decoration: none;
    background-color: #f47c2c;
    width: 150px;
    height: 35px;
    text-align: center;
}

.projeto {
    margin-bottom: 40px;
}

.projeto h1 {
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 1px;
}

.projeto a {
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-weight: 500;
    margin-top: 20px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
}

.projeto a:hover {
    text-decoration: underline;
}

.div-cartao {
    display: flex;
    flex-direction: row;
}

.div-cartao-alinhamento {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
}

.cartao-1 {
    border-radius: 20px;
    box-shadow: 0 0 0.2em #000;
    height: 400px;
    width: 620px;
    transition: all 0.5s ease-out;
    color: aliceblue;
    text-align: center;
    transform: scale(0.9);
    background-image: url(/img/img1.png);
    background-size: 620px;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.cartao-2 {
    border-radius: 20px;
    box-shadow: 0 0 0.2em #000;
    height: 400px;
    width: 620px;
    transition: all 0.5s ease-out;
    color: aliceblue;
    text-align: center;
    transform: scale(0.9);
    background-image: url(/img/img2.png);
    background-size: 620px;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.cartao-3 {
    border-radius: 20px;
    box-shadow: 0 0 0.2em #000;
    height: 400px;
    width: 620px;
    transition: all 0.5s ease-out;
    color: aliceblue;
    text-align: center;
    transform: scale(0.9);
    background-image: url(/img/img3.png);
    background-size: 620px;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.cartao-4 {
    border-radius: 20px;
    box-shadow: 0 0 0.2em #000;
    height: 400px;
    width: 620px;
    transition: all 0.5s ease-out;
    color: aliceblue;
    text-align: center;
    transform: scale(0.9);
    background-image: url(/img/img4.png);
    background-size: 620px;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.cartao-5 {
    border-radius: 20px;
    box-shadow: 0 0 0.2em #000;
    height: 400px;
    width: 620px;
    transition: all 0.5s ease-out;
    color: aliceblue;
    text-align: center;
    transform: scale(0.9);
    background-image: url(/img/img5.png);
    background-size: 620px;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.cartao-6 {
    border-radius: 20px;
    box-shadow: 0 0 0.2em #000;
    height: 400px;
    width: 620px;
    transition: all 0.5s ease-out;
    color: aliceblue;
    text-align: center;
    transform: scale(0.9);
    background-image: url(/img/img6.png);
    background-size: 620px;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.cartao-1:hover {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    cursor: move;
  }
  .cartao-2:hover {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    cursor: move;
  }
  .cartao-3:hover {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    cursor: move;
  }
  .cartao-4:hover {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    cursor: move;
  }

  .cartao-5:hover {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    cursor: move;
  }
  .cartao-6:hover {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    cursor: move;
  }

.texto-projeto {
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 620px;
    border-radius: 0 0 20px 20px;
    height: 100px;
}

.texto-projeto > h2 {
   font-family: Poppins;
   font-size: 25px;
   color: #000;
   text-align: center;
   margin-top: 30px;
}

.texto-projeto p {
   font-family: Poppins;
   font-size: 15px;
   font-weight: 500;
   color: #000;
   margin: 0;
}

.skills {
    margin-top: 120px;
    margin-bottom: 80px;
}

.titulo-skills{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000;
    letter-spacing: 1px;
}

.progress-bar-container:not(:last-child) {
    margin-bottom: 50px;
}

.progress-bar-container h2 {
    font-family: Poppins;
    font-weight: 500;
    color: #000;
    letter-spacing: 1px;
    font-size: 20px;
}

.progress-bar {
    width: 800px;
    height: 5px;
    margin-top: 10px;
    border: 1px solid #565656;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(57, 71, 175);
}

.percentage {
    display: block;
    height: 100%;
    background-color: rgb(57, 71, 175);
    border-radius: 5px;
    animation: progress 2000ms ease-in;
}

.c {
    width: 50%;
}

.bootstrap {
    width: 50%;
}

.nodejs {
    width: 40%;
}

.reactjs {
    width: 53%;
}

.css {
    width: 85%;
}

.javascript {
    width: 60%;
}

.php {
    width: 35%;
}


@keyframes progress {
    from {
        width: 0;
    }
}

/* Footer */

.padding-64{
    width: 100%;
    text-align: center;
}

.footer-color {
    background-color: transparent;
    color: #000;
    font-family: poppins;
    font-size: 14px;
}

.footer-color a {
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    font-family: poppins;
}

.footer-color a:hover {
    text-decoration: underline;
}

.icones-content-1 {
    text-align: center;
    padding-top: 10px;
    color: #000;
    font-size: 25px;
    letter-spacing: 35px;
    text-decoration: none;
}

.icones-content-1 a {
    color: #000;
}

.hover-opacity:hover {
    opacity: 0.9;
    cursor: pointer;
}

.copy-footer {
    margin-bottom: 20px;
    margin-top: 10px;
}
@media screen and (max-width: 1024px) {
    .navbar {
        background-color: #fff;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .navbar a {
        margin-top: 25px;
        font-size: 16px;
        margin-right: 15px;
        margin-left: 15px;
    }
    
    .imagem {
        display: none;
    }

    .apresentacao h1 {
        display: flex;
        justify-content: flex-start;
        font-family: Poppins;
        margin-top: 100px;
        font-size: 28px;
        margin-left: 20px;
    }
    
    .apresentacao h2 {
        display: flex;
        justify-content: flex-start;
        font-family: Poppins;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 23px;
    }
    
    .apresentacao p {
        display: flex;
        justify-content: flex-start;
        font-family: Poppins;
        width: 330px;
        margin-top: 20px;
        text-align: justify;
        margin-bottom: 100px;
        margin-left: 20px;
        font-size: 15px;
    }
    .projeto h1{
        display: flex;
        justify-content: center;
        font-family: Poppins;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
        letter-spacing: 1px;
        font-size: 20px;
    }
    
    .div-cartao {
        display: flex;
        flex-direction: row;
    }
    
    .div-cartao-alinhamento {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
    }
    
    .cartao-1 {
        border-radius: 20px;
        box-shadow: 0 0 0.2em #000;
        height: 250px;
        width: 310px;
        transition: all 0.5s ease-out;
        color: aliceblue;
        text-align: center;
        transform: scale(0.9);
        background-image: url(/img/img1.png);
        background-size: 310px;
        background-repeat: no-repeat;
    }
    
    .cartao-2 {
        border-radius: 20px;
        box-shadow: 0 0 0.2em #000;
        height: 250px;
        width: 310px;
        transition: all 0.5s ease-out;
        color: aliceblue;
        text-align: center;
        transform: scale(0.9);
        background-image: url(/img/img2.png);
        background-size: 310px;
        background-repeat: no-repeat;
    }
    
    .cartao-3 {
        border-radius: 20px;
        box-shadow: 0 0 0.2em #000;
        height: 250px;
        width: 310px;
        transition: all 0.5s ease-out;
        color: aliceblue;
        text-align: center;
        transform: scale(0.9);
        background-image: url(/img/img3.png);
        background-size: 310px;
        background-repeat: no-repeat;
    }
    
    .cartao-4 {
        border-radius: 20px;
        box-shadow: 0 0 0.2em #000;
        height: 250px;
        width: 310px;
        transition: all 0.5s ease-out;
        color: aliceblue;
        text-align: center;
        transform: scale(0.9);
        background-image: url(/img/img4.png);
        background-size: 310px;
        background-repeat: no-repeat;
    }

    .cartao-5 {
        border-radius: 20px;
        box-shadow: 0 0 0.2em #000;
        height: 250px;
        width: 310px;
        transition: all 0.5s ease-out;
        color: aliceblue;
        text-align: center;
        transform: scale(0.9);
        background-image: url(/img/img5.png);
        background-size: 310px;
        background-repeat: no-repeat;
    }

    .cartao-6 {
        border-radius: 20px;
        box-shadow: 0 0 0.2em #000;
        height: 250px;
        width: 310px;
        transition: all 0.5s ease-out;
        color: aliceblue;
        text-align: center;
        transform: scale(0.9);
        background-image: url(/img/img6.png);
        background-size: 310px;
        background-repeat: no-repeat;
    }
    
    .texto-projeto {
        background: #fff;
        position: fixed;
        bottom: 0;
        width: 310px;
        border-radius: 0 0 20px 20px;
        height: 100px;
    }
    
    .texto-projeto > h2 {
       font-family: Poppins;
       font-size: 18px;
       color: #000;
       text-align: center;
       margin-top: 30px;
    }

    .progress-bar {
        width: 90%;
        height: 5px;
        margin-top: 10px;
        border: 1px solid #565656;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(57, 71, 175);
        background-color: #fff!important;
    }
    
}

